<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Web App</title>

    <!--/*/ <th:block th:include="fragments/headerinfo :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <h2 class="col-sm-3 control-label">User Details...
                    <a th:href="${'/user/edit/' + user.id}"><span class="glyphicon glyphicon-edit"></span> </a>
                </h2>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">User Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.id}">UserId</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.firstName}">FirstName</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.lastName}">LastName</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">User Hobby:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${user.hobby}">Hobby </p>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>